{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center mb-4 text-primary"><strong>{% trans "Sign In" %}</strong></h3>
            <p class="text-center">
                {% blocktrans %}
                To leave a comment or like a post, please log in. If you have not created an account yet, then
                <a class="link" href="{{ signup_url }}">sign up</a> first.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="signup" id="login_form" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-primary" form="login_form" type="submit">{% trans "Sign In" %}</button>
                <a href="{% provider_login_url 'github' method='oauth2' %}" class="btn btn-dark">
                    Sign in with GitHub <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
