{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container mt-5 register-container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center mb-4"><strong>{% trans "Sign Up" %}</strong></h3>
            <p class="text-center">
                {% blocktrans %}
                Welcome back to Lucid Waves. Already have an member? Then please
                <a class="link" href="{{ login_url }}">sign in</a> instead.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="cta-btn">Register</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mb-5">
            {# Add GitHub Sign-up Button Here #}
            <a href="{% provider_login_url 'github' method='oauth2' %}" class="btn btn-dark btn-block mt-3">
                Sign up with GitHub <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}
