@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F9FAFC;
    font-family: 'quicksand', sans-serif;
}

/*---------------------------------------------------------- navbar start */

.special-letters {
    color: #007BFF;
    font-weight: bold;
    font-size: 1.9rem;
}

.navbar {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    margin-left: 12rem;
    font-size: 1.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}


.nav-link {
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    color: #007BFF;
}

.navbar-text {
    font-size: 1.1rem;
    font-style: italic;
}

/*---------------------------------------------------------- Blog view page */
#main-content {
    margin: 1rem;
}


.image-container-wrapper {
    margin-left: 0px; /* Adjust the value to control the amount of whitespace */
}

/*---------------------------------------------------------- Add Post Page */


#add-post-page-title {
    text-align: center;
}

.add-text-form {
    margin: 10rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/*---------------------------------------------------------- Landing Page */

.hero{
    margin: 0;
    width: 100%;
    height: 120vh;
    /* background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3)); */
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem 8%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 3.5rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}

.hero-content {
    text-align: center;
    position: relative;
}

.hero-content h1 {
    font-size: 3.5em;
    color: #fff;
    /* background-color: red; */
    font-weight: 500;
    z-index: 1;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 1.6/1){
    .hero-img {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 1.7/1){
    .hero-img {
        width: auto;
        height: 100%;
    }
}


/* ------------------------------------------------------------------------*/
.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #007BFF;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}


/* ---------------------------------------------- footer */
.footer {
    background-color: #87CEEB;
}

.footer-logo {
    color: #fff;
    font-size: 3rem;
}
