@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: #F9FAFC;
    font-family: 'quicksand', sans-serif;
}

/*---------------------------------------------------------- navbar start */


#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url("https://res.cloudinary.com/dsi5hhbty/image/upload/v1697204860/waves_ormags.jpg") no-repeat center center;
    background-size: cover;
}


.banner {
    color: #fff;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)),  url("https://res.cloudinary.com/dsi5hhbty/image/upload/v1697204860/waves_ormags.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}



.banner .navbar {
    margin-top: 5%;
}

/* .home-nav{
    position: absolute;
    background-color: red;
} */

.banner .navbar-brand {
    color: #fff;
    font-size: 1.8em;
    margin-left: 6%;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
}

.banner .nav {
    margin-right: 5%;
}

.banner .nav li a {
    color: #fff;
    font-size: 1rem;
}

.navbar-toggler {
    border-color: #fff;
    margin-right: 6%;
    
}

/*---------------------------------------------------------- Home page */

.welcome-message {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.welcome-message h1{
    font-family: Tahoma, sans-serif;
    font-weight: 800;
    font-size: 6em;
}

.welcome-message a {
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    color: #fff;
    border: 1.5px solid #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    padding: 0.8em 3em;
    font-family: Tahoma, sans-serif;
    font-weight: 800;
    margin-top: 1em;
}

.welcome-message a:hover {
    background-color: rgba(250, 102, 3, 0.87);
}

/*---------------------------------------------------------- Blog view page */
#main-content {
    margin: 1rem;
}


.image-container-wrapper {
    margin-left: 0px; /* Adjust the value to control the amount of whitespace */
}

/*---------------------------------------------------------- Add Post Page */


#add-post-page-title {
    text-align: center;
}

.add-text-form {
    margin: 10rem;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/*---------------------------------------------------------- Landing Page */
/* .jumbotron{
position: relative;
} */


/* ------------------------------------------------------------------- Gallery-----*/


.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: hsla(0, 0%, 0%, 0.556);
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #007BFF;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #007BFF;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #007BFF;
}

.link {
    color: #007BFF;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: red;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #EE1D1D ;
    background: transparent;
    border: none;
}

.sign-in-alert {
    background-color: #fff;
}


/* ---------------------------------------------- footer */
.footer {
    background-color: hsla(0, 0%, 0%, 0.556);
}

.footer-logo {
    color: #fff;
    font-size: 3rem;
}

