{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<br>
<h1 id="add-post-page-title">Create a new post</h1>


<div class="form-group">
    <form method="POST" enctype="multipart/form-data" style="margin-top: 1em;" class="add-text-form">
        {{form|crispy }} 
        {{ form.media }}
        {% csrf_token %}
        <div class="text-center">
            <button class="btn btn-secondary">Post</button>
        </div>
    </form>
</div>

<script>
    {{ form.media }}

    var name = "{{ user.id }}";

    document.getElementById("elder").value = name;
</script>

{% endblock content %}