{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<br>

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<h1 class="mt-3" id="delete-post-page-title">Delete Post</h1>
<div class="container mt-5 text-center" >
<strong>Delete: {{ post.title }}? </strong>


<div class="form-group">
    <form method="POST" enctype="multipart/form-data" style="margin-top: 1em;" class="add-text-form">
        {% csrf_token %}
        <br>
        <em>Are you sure?</em>
        <br>
        <div class="text-center mt-3">
            <button class="btn btn-secondary">Delete</button>
        </div>
    </form>
</div>

{% else %}
<h1 class="text-center">Oops! Access Denied...</h1>
{% endif %}
{% else %}
<h1 class="text-center">Oops! Access Denied...</h1>
{% endif %}
</div>



{% endblock content %}