{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<br>
{% if user.is_authenticated %}
{% if user.id == object.user.id %}

<h1 id="edit-image-page-title" class="text-center">Edit Image</h1>



<div class="form-group">
    <form method="POST" enctype="multipart/form-data" style="margin-top: 1em;" class="add-text-form">
        {{form|crispy }}  
        {% csrf_token %}
        <div class="text-center">
            <button class="btn btn-secondary">Update</button>
        </div>
    </form>
</div>

{% else %}
<h1 class="text-center">Oops! 1st wall... </h1>
{% endif %}
{% else %}
<h1 class="text-center">Oops! 2nd wall...</h1>
{% endif %}
<script>
    var name = "{{ user.id }}";

    document.getElementById("elder").value = name;
</script>


{% endblock content %}