{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<br>
<h1 id="edit-post-page-title">Edit Post</h1>


<div class="form-group">
    <form method="POST" enctype="multipart/form-data" style="margin-top: 1em;" class="add-text-form">
        {% csrf_token %}
        <!-- {{form|crispy }}           **BUG**  -->
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update</button>
    </form>
</div>

<script>
    var name = "{{ user.id }}";

    document.getElementById("elder").value = name;

</script>


{% endblock content %}