{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row">
        {% for gallery_image in galleryimage_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail ">
                <div class="gallery-img-container">
                    {% if "placeholder" in gallery_image.image.url %}
                    <img class="gallery-image"
                        src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                        alt="uploaded-gallery-image">
                    {% else %}
                    <img class="gallery-image" src="{{ gallery_image.image.url}}" loading="lazy">
                    <div class="overlay">
                        <ul class="image-list">
                            <li class="caption"><small>{{ gallery_image.caption }}</small>
                                <hr>
                                <button id="gallery-like-button-{{ gallery_image.id }}"
                                    data-image-id="{{ gallery_image.id }}"
                                    class="gallery-btn-like{% if likedImage %} likedImage{% endif %}">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <small id="gallery-likes-count-{{ gallery_image.id }}"
                                        class="text-secondary">{{ gallery_image.number_of_likes }}</small>
                                </button>
                            <li>{{ gallery_image.user }}
                                <small>
                                    <a class="edit-link" href="{% url 'edit_image' gallery_image.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="delete-link" href="#"><i class="fa-solid fa-trash"></i></a>
                                </small>
                              
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
<div class="container my-3">
    <div class="p-3 text-center bg-body-tertiary rounded-3">
        {% if user.is_authenticated %}
        <a class="cta-btn" href="{% url 'add_image' %}" class="btn btn-primary">
            UPLOAD IMAGE
        </a>
        {% else %}
        <a class="cta-btn" href="{% url 'account_login' %}" class="btn btn-primary">
            LOGIN TO ADD IMAGE
        </a>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const galleryLikeButtons = document.querySelectorAll(".gallery-btn-like");

        galleryLikeButtons.forEach(function (galleryLikeButton) {
            galleryLikeButton.addEventListener("click", function () {
                const imageId = galleryLikeButton.dataset.imageId;
                const likedImage = galleryLikeButton.classList.contains("likedImage");

                fetch(`/like-image/${imageId}/`, {
                        method: likedImage ? "DELETE" : "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                        },
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.success) {
                            if (likedImage) {
                                galleryLikeButton.classList.remove("likedImage");
                            } else {
                                galleryLikeButton.classList.add("likedImage");
                            }
                            // Update the likes count for the specific image
                            const ImageLikesCount = document.getElementById(
                                `gallery-likes-count-${imageId}`);
                            ImageLikesCount.textContent = data.likes_count;
                        }
                    })
                    .catch((error) => console.error("Error:", error));
            });
        });

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });
</script>
{% endblock %}
