{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% for image in images %}
        <div class="col-md-3">
            <div class="thumbnail">
                <a data-toggle="modal" data-target="#imageModal{{ image.id }}">
                    <img src="{{ image.image.url }}" alt="{{ image.caption }}">
                </a>
                <p>{{ image.caption }}</p>
            </div>
        </div>
        <!-- Modal for the image -->
        <div class="modal fade" id="imageModal{{ image.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
