{% extends "base.html" %}

{% block content %} {% load static %}

<div class="container">

    <div class="row">
        {% for gallery_image in galleryimage_list %}
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail ">
                <div class="gallery-img-container">
                    {% if "placeholder" in gallery_image.image.url %}
                    <img class="gallery-image"
                        src="https://images.pexels.com/photos/4271933/pexels-photo-4271933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                        alt="upload-error">
                    {% else %}
                    <img class="gallery-image" src="{{ gallery_image.image.url}}" loading="lazy">
                    <div class="overlay">
                        <ul class="image-list">
                            <li class="caption"><small>{{ gallery_image.caption }}</small>
                                <hr>
                                <button id="gallery-like-button-{{ gallery_image.id }}"
                                    data-image-id="{{ gallery_image.id }}"
                                    class="gallery-btn-like{% if likedImage %} likedImage{% endif %}">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <small id="gallery-likes-count-{{ gallery_image.id }}"
                                        class="text-secondary">{{ gallery_image.number_of_likes }}</small>
                                </button>
                            <li>{{ gallery_image.user }}
                                <small>
                                    <a class="edit-link" href="{% url 'edit_image' gallery_image.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="delete-link" href="{% url 'delete_image' gallery_image.pk %}"><i class="fa-solid fa-trash"></i></a>
                                </small>
                              
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-5">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
<div class="container my-3">
    <div class="p-3 text-center bg-body-tertiary rounded-3">
        {% if user.is_authenticated %}
        <a class="cta-btn" href="{% url 'add_image' %}" class="btn btn-primary">
            UPLOAD IMAGE
        </a>
        {% else %}
        <a class="cta-btn" href="{% url 'account_login' %}" class="btn btn-primary">
            LOGIN TO ADD IMAGE
        </a>
        {% endif %}
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}
