{% extends "base.html" %} {% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md" id="home-nav">
                <div class="navbar-brand">
                    WAV<i class="fa-solid fa-water"></i>S
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gallery' %}">HOTSPOTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog' %}">BLOG</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">LOGOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_post' %}">ADD POST</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">LOGIN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">REGISTER</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>


<section id="hero">
    <!--hero section start-->
    <div class="welcome-message">
        <h1>WAV<i class="fa-solid fa-water"></i>S</h1>
        <a href="">JUMP IN</a>
    </div>
</section>

<br>

<div class="container">
    <div class="jumbotron text-center">
        <p class="lead">
            Our mission is to guide you in discovering the ocean's benefits, its picturesque landscapes, and the
            exhilarating world of surf. Whether you seek relaxation, inspiration, or knowledge, 'Waves' is your portal
            to the mesmerizing, calming, and invigorating world of the sea."
        </p>
    </div>
</div>

<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 testimonial">
            <h1 class="testimonial-title">Jane Waters</h1>
            <p>"The ocean has been my refuge for years. Its soothing waves and salty breeze wash away my worries. It's
                not just water; it's a healer, a therapist. Every visit is a reminder that nature's embrace is the best
                medicine."</p>
        </div>
        <div class="col-md-4">
            <h1 class="testimonial-title">Mike Freeman</h1>
            <p>"As a surfer, the ocean is my playground and my sanctuary. It's where I find my balance, my purpose.
                Riding those waves is an exhilarating dance with nature. The ocean isn't just water; it's my soul's
                home."</p>
        </div>
        <div class="col-md-4">
            <h1 class="testimonial-title">Dr. Maria Marine Biologist</h1>
            <p>"Studying the ocean's mysteries has revealed its incredible potential for medicine, food, and renewable
                energy. Its biodiversity is a treasure trove of knowledge and solutions. The ocean is the world's
                greatest teacher, offering us wisdom beyond measure."</p>
        </div>
    </div>
</div>


{%endblock%}