{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ post.header_image.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="300" loading="lazy">
    </div>
    <div class="col-lg-5">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ post.title }}</h1>
      <p class="lead">{{ post.author }} | {{ post.created_on }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button id="like-button" data-post-id="{{ post.id }}" class="btn-like{% if liked %} liked{% endif %}">
            <i class="fas fa-heart"></i> <strong id="likes-count"
                class="text-secondary">{{ post.number_of_likes }}</strong>
        </button>
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            <!-- Our total_comments variable goes before the closing strong tag -->
            {{ total_comments }}</strong>
        {% endwith %}
      </div>
    </div>
  </div>

  <!-- <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="header-image-container col-10 col-sm-8 col-lg-7">
        {% if "placeholder" in post.header_image.url %}
        <img class="d-block mx-lg-auto img-fluid" alt="sufer" width="auto" height="400" loading="lazy"
            src="https://images.unsplash.com/photo-1502680390469-be75c86b636f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80">
        {% else %}
        <img class="card-img-top" src="{{ post.header_image.url }}" style="width: 300px; height: 200px;">
        {% endif %}
    </div>
    <div class="col-10 col-sm-8 col-lg-7">
        <img src="https://images.unsplash.com/photo-1493225255756-d9584f8606e9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            class="d-block mx-lg-auto img-fluid" alt="sufer" width="auto" height="400" loading="lazy">
    </div> -->
    <!-- <div class="col-lg-5">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 post-title">{{ post.title }}</h1>
        <p class="lead post-subtitle"><em>{{ post.author }} | {{ post.created_on }}
        <button id="like-button" data-post-id="{{ post.id }}" class="btn-like{% if liked %} liked{% endif %}">
            <i class="fas fa-heart"></i> <strong id="likes-count"
                class="text-secondary">{{ post.number_of_likes }}</strong>
        </button>
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            Our total_comments variable goes before the closing strong tag -->
            <!-- {{ total_comments }}</strong>
        {% endwith %}
    </em></p>
    </div>

</div> --> 



<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col">
                        {% if liked %}
                        <button id="like-button" data-post-id="{{ post.id }}"
                            class="btn-like{% if liked %} liked{% endif %}">
                            <i class="fas fa-heart"></i> <strong id="likes-count"
                                class="text-secondary">{{ post.number_of_likes }}</strong>
                        </button>
                        {% else %}
                        <button id="like-button" data-post-id="{{ post.id }}"
                            class="btn-like{% if liked %} liked{% endif %}">
                            <i class="far fa-heart"></i> <strong id="likes-count"
                                class="text-secondary">{{ post.number_of_likes }}</strong>
                        </button>
                        {% endif %}
                        <small><a class="edit-link" href="{% url 'edit_post' post.pk %}">Edit</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h2>Comments</h2>
        </div>
        <div class="card-body">
            {% if not post.comments.all %}
            <p>Be the first to <strong><a id="add-comment-link" href="{% url 'add_comment' post.pk %}">Add A Comment</a></strong></p>
            {% else %}
                {% for comment in post.comments.all %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        {{ comment.created_on }}
                        <br>
                        {{ comment.body | linebreaks }}
                        <button id="comment-like-button-{{ comment.id }}" data-comment-id="{{ comment.id }}"
                        class="btn-like{% if likedComment %} likedComment{% endif %}">
                        <i class="fas fa-heart"></i> <strong id="comment-likes-count-{{ comment.id }}"
                            class="text-secondary">{{ comment.number_of_likes }}</strong>
                    </button>
                    </p>
                    <strong><a id="add-comment-link" href="{% url 'add_comment' post.pk %}">Add A Comment</a></strong></p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <button id="comment-like-button-{{ comment.id }}" data-comment-id="{{ comment.id }}"
                        class="btn-like{% if likedComment %} likedComment{% endif %}">
                        <i class="fas fa-heart"></i> <strong id="comment-likes-count-{{ comment.id }}"
                            class="text-secondary">{{ comment.number_of_likes }}</strong>
                    </button>
                </div>
                
                {% endfor %}
            </div>
        </div>


        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval.
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div> -->
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const likeButton = document.getElementById("like-button");
        const likesCount = document.getElementById("likes-count");

        likeButton.addEventListener("click", function () {
            const postId = likeButton.dataset.postId;
            const liked = likeButton.classList.contains("liked");

            fetch(`/like-post/${postId}/`, {
                    method: liked ? "DELETE" : "POST",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                })
                .then((response) => response.json())
                .then((data) => {
                    if (data.success) {
                        if (liked) {
                            likeButton.classList.remove("liked");
                        } else {
                            likeButton.classList.add("liked");
                        }
                        likesCount.textContent = data.likes_count;
                    }
                })
                .catch((error) => console.error("Error:", error));
        });
        // Function to get CSRF token from cookies
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const commentLikeButtons = document.querySelectorAll(".btn-like"); 

        commentLikeButtons.forEach(function (commentLikeButton) {
            commentLikeButton.addEventListener("click", function () {
                const commentId = commentLikeButton.dataset.commentId;
                const likedComment = commentLikeButton.classList.contains("likedComment");

                fetch(`/like-comment/${commentId}/`, {
                        method: likedComment ? "DELETE" : "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken"),
                        },
                    })
                    .then((response) => response.json())
                    .then((data) => {
                        if (data.success) {
                            if (likedComment) {
                                commentLikeButton.classList.remove("likedComment");
                            } else {
                                commentLikeButton.classList.add("likedComment");
                            }
                            // Update the likes count for the specific comment
                            const commentLikesCount = document.getElementById(
                                `comment-likes-count-${commentId}`);
                            commentLikesCount.textContent = data.comment_likes_count;
                        }
                    })
                    .catch((error) => console.error("Error:", error));
            });
        });
        
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });
</script>
{% endblock content %}