{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags static %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6 p-5">
      <img src="{{ post.header_image.url }}" class="d-block mx-lg-auto img-fluid" alt="Header Image" loading="lazy" style="border: 5px solid rgba(0, 0, 0, 0.1)">
    </div>
    <div class="col-lg-5">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ post.title }}</h1>
      <p class="lead">{{ post.author }} | {{ post.created_on }}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <p>
        <button id="like-button" data-post-id="{{ post.id }}" class="post-btn-like{% if liked %} liked{% endif %}">
            <i class="fa-solid fa-thumbs-up"></i> <small id="likes-count"
                class="text-secondary">{{ post.number_of_likes }}</small>
        </button>
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            <!-- Our total_comments variable goes before the closing strong tag -->
            {{ total_comments }}</strong>
        {% endwith %}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <small><a class="edit-link" href="{% url 'edit_post' post.pk %}"><i
                    class="fa-solid fa-pen-to-square"></i></a></small>
        <small><a class="delete-link" href="{% url 'delete_post' post.pk %}"><i
                    class="fa-solid fa-trash"></i></a></small>
        {% endif %}
        {% endif %}
        </p>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <br>
                <p>
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        <!-- Our total_comments variable goes before the closing strong tag -->
                        {{ total_comments }}</strong>
                    {% endwith %}
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <small><a class="edit-link" href="{% url 'edit_post' post.pk %}"><i
                                class="fa-solid fa-pen-to-square"></i></a></small>
                    <small><a class="delete-link" href="{% url 'delete_post' post.pk %}"><i
                                class="fa-solid fa-trash"></i></a></small>
                    {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
  <hr>
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                    <button id="comment-like-button-{{ comment.id }}" data-comment-id="{{ comment.id }}"
                        class="btn-like{% if likedComment %} likedComment{% endif %}">
                        <i class="fa-solid fa-thumbs-up"></i> 
                        <small id="comment-likes-count-{{ comment.id }}" class="text-secondary">{{ comment.number_of_likes }}</small>
                    </button>
                </div>
                
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 card mb-4 mt-3 comment-section">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval.
                </div>
                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;" class="text-center">
                    <div>
                    {{ comment_form | crispy}}
                    {% csrf_token %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock content %}